* {
    margin: 0;
    padding:0;
}

body,html{
	font-family: 'AllerRegular', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 150%;
	color: #333333;
	width: 100%;
    height: 100%;
    background-color: #F3F4eF;
}
input{
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	transition: border linear .2s, box-shadow linear .2s;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	line-height: 20px;
	border-radius: 4px;
	font-size: 14px;
	color: #A7A7A7;

}

input:focus {
    outline: none;
    border: 1px groove #53FF00;
}

#all{
	width: 100%;
    height: 100%;
 }

#header{
	height: 250px;
	width: 100%;
	margin: 0;
	background: transparent url(../image/header-bg.png) top center repeat-x;
}

#menubar{
    height: 35px;
    width: 80%;
    margin-left: 10%; 
    border: 10px solid #E6E8DF;
    border-radius: 0px 0px 20px 20px;
    background-color: #F3F4eF;
    box-shadow: 0px 0px 25px #cecece;
    margin-top: 3px;
}

#content{
	height:500px;
	width: 70%;
	margin-left: 15%;
	background-color: #E6E8DF;
	border-radius: 0px 0px 20px 20px;
	box-shadow: 0px 0px 25px #cecece;
	padding: 20px;
}

#footer{
	box-shadow: 0px 0px 10px #000;
	width: 100%;
	height: 150px;
	background: transparent url(../image/footer.png) top center repeat-x;
	font-size: 18px;
	margin-top:50px;
	font-size:13px;
}

#lbFooter{
	position:absolute;
	margin-top: 60px;
	margin-left: 550px;
}

#busca{
	float: right;
	margin-right: 10%;
	margin-top: 10px;
	width: 300px;
	height: 40px;
	border-radius: 7px;
	background-color: #E6E8DF;
	box-shadow: 0px 0px 7px #cecece;
	
}

#boxBuscar{
	width: 235px;
	margin-top: 5px;
	margin-left: 5px;
}

#lupa{
	float: right;
}

#login{
	float: left;
	width: 500px;
	margin-left: 10%;
	margin-top: 10px;
	height: 40px;
	border-radius: 7px;
	background-color: #E6E8DF;
	box-shadow: 0px 0px 7px #cecece;
	padding: 1px;
}

.formLogin{
	margin-top: 5px;
}

#imgLogo{
	height: 175px;
	margin-top: 65px;
	margin-left: -7%;
}

#bottle{
	margin-top: -260px;
	background: transparent url(../image/bottle.png) repeat-x;
	height:250px;
	margin-left: 5%;
}


